<body>
  <!--FONDO-->
  <div class="hero"></div>
  <!--NAVBAR-->
  <nav class="navbar sticky-top navbar-expand-lg" style="background-color: #F8CAE4;" data-bs-theme="light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Maylen</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#NOSOTROS">Conocenos</a>
          <a class="nav-link" href="#conocenos">Donde encontrarnos</a>
          <a class="nav-link" href="#menu patisserie">Patisserie</a>
          <a class="nav-link" href="#contacto">Contactanos</a>
        </div>
      </div>
    </div>
  </nav>
  <!--CONTENIDO-->
  <div class="container-fluid" style="background-color: #CFDD9C;">
    <div id="home" class="row align-items-center" id="NOSOTROS">
      <div class="col">
        <h2>MAYLEN PATISSERIE</h2>
        <h3>¿Quienes somos?</h3>
        <p>
        <h5>Maylen Patisserie vio la luz en la Ciudad de Buenos Aires en Noviembre de 2025.</h5>

        <h5>Una joven Chef especializada en la magia de realizar Pastelería de alta calidad y sobre todo rica, decidió
          iniciar su emprendimiento. Giuliana Mailen Frugoni además de ser una chef profesional, tiene una larga
          tradición familiar en el mundo de la Pastelería.</h5>
        </p>
      </div>
      <div class="col-4">
        <img src="/images/Betu/imgverde.jpg" alt="tenedor verde" class="tenedor">
      </div>
    </div>
  </div>
  <div class="container-fluid" style="background-color: #F8CAE4;">
    <div class="row align-items-center">
      <div class="col-3">
        <div id="conocenos">
          <div class="mapa">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1642.001724392535!2d-58.3861537!3d-34.6040743!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sar!4v1765030106965!5m2!1ses!2sar"
              width="400" height="400" style="border: 28px;;" allowfullscreen="" loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
      <div class="col direccion">
        <h3>¿Donde nos podes encontrar?</h3>
        <p>
        <h5>Estamos ubicados en el corazon de Capital Federal,</h5>
        <h5>en Calle Falsa 123, a tan solo 2 cuadras ded nuestro
          amado obelisco</h5>
        </p>
        <p>
        <h5>Nos podes encontrar de Lunes a Viernes de 9:00 a 20:00hs </h5>
        <h5>y Sabados, Domingos y Feriados de 10:00 a 19:00
        </h5>
        </p>
      </div>
    </div>
    <div class="container-fluid" style="background-color: #CFDD9C;">
      <div id="home" class="row align-items-center">
        <div class="col">
          <h3>¿Que hacemos de rico?</h3>
          <p>
          <h5>Toda nuestra pasteleria se preparaa de forma artesana todos los dias, tieniendo los maximos cuiados y
            controles en su calidad, para que cada mordisco que des sea igual de rico que el anterior</h5>
          </p>
          <p>
          <h5>Contamos con una gran vaiedad de productos, de diferentes colores y sabores, yendo desde el clasico
            "MACARON" hasta nuestra innovadora "COOKIE BALCARCE"</h5>
          <h5>Te invitamos a que conozcas más sobre nosotros y elijas tu paistry favorito!</h5>
          </p>
        </div>
        <div class="col-4">
          <img src="/images/Betu/imgamaillo.jpg" alt="alfajor amarillo" class="alfajor">
        </div>
      </div>
    </div>
    <p>
    <div class="invisible container" style="background-color: #F8CAE4;">espaciadoo</div>
    </p>
    <!--MENU-->
    <div class="container align-items-center text-center introo" id="menu patisserie">
      <h1>Nuestro Menu</h1>
      <h5>Te invitamos a que le des un vistazo a nuestros ultimos lanzamientos de nuestro menù de primavera</h5>
    </div>
    <p>
    <div class="invisible container" style="background-color: #F8CAE4;">espaciadoo</div>
    </p>
    <!--CARDS-->
    <div class="row row-cols-4 row-cols-xs-4" id="menu">
      <div class="col p-3 t-3">
        <div class="card">
          <img src="/images/Betu/alfajorpistacho.jpg" class="card-img-top" alt="alfajor pistacho">
          <div class="card-body">
            <h5 class="card-title">Alfajor de pistacho</h5>
            <p class="card-text">Hecho a base de sablee de almendras,con relleno de cremoso de pistacho</p>
          </div>
        </div>
      </div>
      <div class="col p-3 t-3">
        <div class="card">
          <img src="/images/Betu/bombones.jpg" class="card-img-top" alt="bombones amarillos">
          <div class="card-body">
            <h5 class="card-title">Box de bombones</h5>
            <p class="card-text">Una pequeña seleccion de nestros mejores bombones, ideal para regalar en una ocacion
              especial</p>
          </div>
        </div>
      </div>

      <div class="col p-3 t-3">
        <div class="card">
          <img src="/images/Betu/balcarce.jpg" class="card-img-top" alt="balcarce">
          <div class="card-body">
            <h5 class="card-title">Petit Balcarce</h5>
            <p class="card-text">Base de sablee de limon, bizcocho de vainilla, con corazon de dulce de leche y
              rodeado de merengue</p>
          </div>
        </div>
      </div>
      <div class="col p-3 t-3">
        <div class="card">
          <img src="/images/Betu/cookiepistacho.jpg" class="card-img-top" alt="cookie pistacho">
          <div class="card-body">
            <h5 class="card-title">Cookie de Pistacho</h5>
            <p class="card-text">Cookie de chocolate blanco con pistacho, rellena de pasta de maní, cremoso de
              chocolate lanco, con topping de pistacho y maní</p>
          </div>
        </div>
      </div>
      <div class="col p-3 t-3">
        <div class="card">
          <img src="/images/Betu/chocolate.jpg" class="card-img-top" alt="chocolate">
          <div class="card-body">
            <h5 class="card-title">Tabla de chocolate</h5>
            <p class="card-text">Circulo de chocolate blanco con pistachos caramelizados</p>
          </div>
        </div>
      </div>
      <div class="col p-3 t-3">
        <div class="card">
          <img src="/images/Betu/petitchoco.jpg" class="card-img-top" alt="petit de choco">
          <div class="card-body">
            <h5 class="card-title">Petit de Chocolate</h5>
            <p class="card-text">Base de sable de cacao, húmedo de chocolate semiamargo, con corazon de mousse de
              chocolate y salsa de chocolate semiamargo</p>
          </div>
        </div>
      </div>
      <div class="col p-3 t-3">
        <div class="card">
          <img src="/images/Betu/chausonmazana.jpg" class="card-img-top" alt="chauson">
          <div class="card-body">
            <h5 class="card-title">Chauson de Manzana</h5>
            <p class="card-text">Laminado de manteca, relleno de cremoso de manzana</p>
          </div>
        </div>
      </div>
      <div class="col p-3 t-3">
        <div class="card">
          <img src="/images/Betu/bomboneswicked.jpg" class="card-img-top" alt="bombones wicked">
          <div class="card-body">
            <h5 class="card-title">Lata de Bombones</h5>
            <p class="card-text">Edicion especial de combones de chocolate, rellenos de caramelo y chocolate Dubai</p>
          </div>
        </div>
      </div>
      <div class="col p-3 t-3 b-5">
        <div class="card">
          <img src="/images/Betu/macaroon.jpg" class="card-img-top" alt="macaroon">
          <div class="card-body">
            <h5 class="card-title">Macaron</h5>
            <p class="card-text">Clasico macaron de chocolate semiamargo, relleno de glacé de chocolate</p>
          </div>
        </div>
      </div>
      <div class="col p-3 t-3 b-5">
        <div class="card">
          <img src="/images/Betu/florchoco.jpg" class="card-img-top" alt="flores">
          <div class="card-body">
            <h5 class="card-title">Flores de Chocolate</h5>
            <p class="card-text">Base de chocolate blanco, rellenas de cremoso de pistacho t frambuesa, bañada en
              fondue de chocolate blanco con color</p>
          </div>
        </div>
      </div>
      <div class="col p-3 t-3 b-5">
        <div class="card">
          <img src="/images/Betu/cokierosa.jpg" class="card-img-top" alt="petit rosa">
          <div class="card-body">
            <h5 class="card-title">Petit Primavera</h5>
            <p class="card-text">Base de sable de cacao con corazon de cookie de chips de chocolate y cremoso de
              chocolate blanco </p>
          </div>
        </div>
      </div>
      <div class="col p-3 t-3 b-5">
        <div class="card">
          <img src="/images/Betu/lima.jpg" class="card-img-top" alt="lima">
          <div class="card-body">
            <h5 class="card-title">Petit de Lima</h5>
            <p class="card-text">Base de sable de cacao, bizcocho de vainilla, con corazon de lima y rodeado de
              merengue</p>
          </div>
        </div>
      </div>
    </div>
    <p>
    <div class="invisible container" style="background-color: #F8CAE4;">espaciadoo</div>
    </p>
    <!--RESEÑAS-->
    <div class="rounded py-5 testimonios">
      <h2 class="text-center">Testimonios</h2>
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="testimonio">
              <h5>"La mejor pasteleria!!"</h5>
              <p>Tamara, Palermo</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonio">
              <h5>"Lo mas rico del barrio!!"</h5>
              <p>Flavia, Recoleta</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="testimonio">
              <h5>"La mejor atencion!!"</h5>
              <p>Eric, San Telmo</p>
            </div>
          </div>
        </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev" style="margin-left:50px">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <p>
    <div class="invisible container" style="background-color: #F8CAE4;">espaciadoo</div>
    </p>

    <!--PEDIDOS-->
    <div class="container align-items-center text-center introo" id="contacto">
      <h1>Contactanos</h1>
      <h5>Te dejamos un formlario a continuacion para que podamos reponder tus preguntas</h5>
      <h5>y para que realices el pedido que quieras!</h5>
    </div>
    <p>
    <div class="invisible container" style="background-color: #F8CAE4;">espaciadoo</div>
    </p>
    <form class="row g-3 formulario">
      <div class="col">
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido">
      </div>
      <div class="col-12">
        <input type="text" class="form-control" placeholder="Email" aria-label="Email">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Telefono" aria-label="Telefono">
      </div>
      <div class="col">
        <select class="form-select" aria-label="Motivo">
          <option selected>Indica el motivo de tu consulta</option>
          <option value="1">Pedido</option>
          <option value="2">Contacto</option>
          <option value="3">Otro</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Dejanos tu comentario!"></textarea>
      </div>



      <div class="col-12">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
    <p>
    <div class="invisible container" style="background-color: #F8CAE4;">espaciadoo</div>
    </p>

    {{!-- NOVEDADES (VER DONDE PONER)--}}
<div id="novedades" class="row py-4">
  <div class="col-md-5 offset-md-2 py-3">
        <h2>novedades</h2>
        <ul class="lista-novedades">
          {{#each novedades}}
          <li>
          <a href="javascript:void(0);" data-toggle="modal" data-target="#modal{{ id }}">
            <img src="">{{ titulo}}
          </a>
          </li>
          {{/each}}
        </ul>
  </div>
      {{#each novedades}}
  <div class="modal fade" id="modal{{id}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialogmodal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{titulo}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <h2>{{subtitulo}} </h2>
        <p>{{cuerpo}} </p>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>



    <footer>Diseñado por Giuliana Frugoni, inspirado en Betular</footer>
    <!--SCRIPT-->
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
</body>

</html>